/*Style css*/
.banner {
padding: 200px 0;
background-position: center;
background-size: cover;
}

.banner h1 {
color: red;
}

.banner P {
color: white;
font-size: 30px;
opacity: .7;
}
